body{
    background-color: #004643;
    color: rgb(207, 207, 207);

}
form {
  width: 60%;
  margin: 20px auto 0 auto;
  /* background-color:#222eee ; */
}

input {
  width: 100%;
  padding: 2px;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid #fff;
  border-right: 1px solid;
  color: #fff;
  padding: 4px;
  font-size: 14px;

}
legend{
    font-size: 22px;
}
fieldset:first-child{
    margin-bottom: 20px;
}
input[type="radio"] {
  width: 5%;
}
input[type="checkbox"] {
  width: 5%;
}

label {
  display: block;
  margin-top: 15px;

}


input:focus{
    outline: none;
}
input:valid, input:in-range{
    border-right-color: green;
}
input:invalid, input:out-of-range{
    border-right-color: #f00;
}
input[type="submit"] {
    width: 15%;
    margin: 20px 0 10px 40%;
    border: 1px solid #fff;
    transition: background-color 0.7s;
    border-radius: 5%;
    padding: 8px;
  
  }
  input[type = "submit"]:hover{
      background-color: #da0e07;
      transition: all 0.7s;
      border: 1px solid #da0e07 ;
  
  
  }
/* html{
    background-color: #fff;
}


html[theme ="dark-mode"]{
    filter: invert(1) hue-rotate(180deg);
}
html img [theme ="dark-mode"]{
    filter: invert(1) hue-rotate(180deg);
}
html{
    transition: color 300ms, background-color 300ms;
} */
